body {
    background-image: url(web_bg_purple_8k.png);
    background-color: #18181b;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    transition: .2s ease;
}

div>a:hover {
    color: #9147ff;
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}